Flask==3.1.0
flask-cors==5.0.0
joblib==1.4.2
numpy==1.26.4
pandas==2.2.3
rasterio==1.4.3
openmeteo-requests==1.7.4
requests-cache==1.2.1
retry-requests==2.0.0
xarray==2024.11.0
netCDF4==1.7.2
GDAL==3.10.0
cdsapi>=0.7.2
